@using PagedList.Mvc;
@model PagedList.IPagedList<GrupoComponente.Servicio.Models.ViewModels.UsersIndexViewModel>
<link href="~/Content/Views/Usuarios/Usuarios.css" rel="stylesheet" />
<script src="~/Scripts/Views/Usuarios/ConsultaUsuario.js"></script>

@{
    ViewBag.Title = "Consultar Usuario";
}

<h2 class="mt-2">
    <a class="btn btn-primary" title="Nuevo Rol" style="float:right;color:white" href="@Url.Action("Usuario","Usuarios")">
        <i class="fas fa-plus-circle" style="margin-right:10px"></i>Agregar
    </a>
    Listado de Usuarios
</h2>
<hr />

@using (Html.BeginForm("ConsultaUsuario", "Usuarios", FormMethod.Get))
{    
    <div class="row">
        <div class="col-6">
            <div class="row d-flex justify-content-start align-items-center">
                <div class="col-8 col-xl-9">
                    <input type="text" id="myInput" class="form-control" onkeyup="filtroBusqueda()" placeholder="Filtro por Nombre" />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row d-flex justify-content-end align-items-center">
                <div class="col-3 text-right">
                    <select name="pageSize" id="pageSize" class="form-control" style="width: 100%">
                        <option @if ((int)ViewBag.pageSize == 2) { @Html.Raw("selected") } value="2">2</option>
                        <option @if ((int)ViewBag.pageSize == 5) { @Html.Raw("selected") } value="5">5</option>
                        <option @if ((int)ViewBag.pageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                        <option @if ((int)ViewBag.pageSize == 15) { @Html.Raw("selected") } value="15">15</option>
                    </select>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center text-right">
                    <button type="submit" class="btn btn-dark">Aplicar</button>
                </div>
            </div>
        </div>
    </div>
}

<table id="myTable" name="myTable" class="table table-bordered table-hover mt-4">
    <thead class="text-center">
        <tr>
            <th class="d-none">Id</th>
            <th>Nombres</th>
            <th>Fecha Nacimiento</th>
            <th>Sexo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Name))
        {
            <tr>
                <td class="text-center d-none">@Html.DisplayFor(modelItem => item.id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Date)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Sex)</td>
                <td class="text-center" style="width:130px">
                    <a href="@Url.Action("EditarUsuario","Usuarios", new { id = item.id })" title="Editar registro" class="mx-2"><i class="fas fa-edit" style="font-size:20px"></i></a>
                    <a href="@Url.Action("EliminarUsuario","Usuarios", new { id = item.id })" title="Eliminar registro"><i class="fas fa-trash" style="font-size:20px;color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-6 d-flex justify-content-start align-items-center">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
        @Html.PagedListPager(Model, page => Url.Action("ConsultaUsuario", "Usuarios", new { page, pageSize = ViewBag.PageSize }))
    </div>
</div>

@section Scripts{
    <script>
        @if(TempData["Message"] != null) {
            <text>
                swal("Mensaje!", "@TempData["Message"]", "@TempData["ColorAlerta"]")
            </text>
        }
    </script>
}